<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form method="POST" action="/new">
        <label for="sender">Your Name</label>
        <input type="text" name="user" id="sender">
        <label for="mess">Message</label>
        <input type="text" name="text" id="mess">
        <button type="submit">Submit</button>
     </form>     
  </body>
</html>